.gallery-section {
    padding-top: 0px;
}
.gallery-section button {
    bottom: -60px;
}
.gallery-quad {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} 
.gallery-quad .gallery-item {
    width: 30%;
    height: 50%;
    margin-left: 0;
    margin-bottom: 0;
}
.gallery-quad .gallery-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 574px) {
    .gallery-section1 {
        display: block;
    }
    .container {
        max-width: unset;
        padding: 0 20px;
    }
    .gallery-box {
        width: 100%;
    }
    .gallery-quad .gallery-item {
        width: 29%;
    }
    .contacts-section .container {
        padding: 0;
    }
}