.gallery-quad {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
} 
.gallery-quad .gallery-item {
    width: 30%;
    margin-left: 0;
    margin-bottom: 0;
}
.gallery-quad .gallery-item img {
    height: 250px;
    width: 350px;
}