#menu {
    z-index: 9999;
    position: fixed;
    position: relative;
}
#menu-bar {
    width: 45px;
    height: 40px;
    top: 80vh;
    right: 5vw;
    cursor: pointer;
    position: fixed; 
    z-index: 1000; 
}
#menu-bar img {
    max-width: none;
    width: 100px;
    height: 100px;
}
.bar {
    height: 5px;
    width: 100%;
    background-color: none;
    display: block;
    border-radius: 5px;
    z-index: 1000;
}
#bar1 {
    transform: translateY(-4px);
    position: absolute;
}
#bar3 {
    transform: translateY(4px);
    position: absolute;
}
.nav {
    position: fixed;
    display: none;
}
.nav ul {
    padding: 0 22px;
    margin-top: 70px;
}
.nav li {
    list-style: none;
    padding: 12px 0;
    z-index: 1000;
}
.nav li a {
    color: red;
    font-size: 20px;
    text-decoration: none;
}
.nav li a:hover {
    font-weight: bold;
}
.menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10000;
}
.menu-bg {
    z-index: 1000;
    width: 0;
    height: 0;
    margin: 30px 0 20px 40px;
    background: linear-gradient(to right, #7775E7, #C41DFF);
    border-radius: 50%;
    position: fixed;
}
.change {
    display: block;
    position: fixed;
    top: 60vh;
    right: 10vw;
    z-index: 9999;
}
.change .bar {
    background-color: black;
}
.change #bar1 {
    transform: translateY(-4px) rotateZ(-45deg);
}
.change #bar2 {
    opacity: 0;
}
.change img {
    opacity: 0;
}
.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}
.change-bg {
    width: 520px;
    height: 460px;
    position: absolute;
    top: -255px;
    left: -365px;
}