.stock-section {
    padding-bottom: 0;
    padding-top: 0;
}
.stock-top {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 35px;
    text-transform: uppercase;
    color: #6B3E6F;
}
.stock-met {
    margin-top: 68px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 130%;
    text-transform: uppercase;
    color: #000000;
}
.stock-met span {
    color: #F754E7;
}
.stock-title1 {
    margin-top: 20px;
    text-align: center;
}
.stock-subtitle1 {
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 109%;
    color: #000000;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.stock-img img {
    max-width: unset;
    width: 409px;
}
@media (max-width: 1250px) {
    .stock-img img {
        width: 100% !important;
    }
}
@media (max-width: 575px) {
    .container {
        max-width: unset;
        padding: 0 20px;
    }
    .stock-top {
        font-size: 35px;
        text-align: center;
    }
    .stock-section {
        margin: 20px 0;
    }
}